<div class="container mt-3">
  <div class="d-flex justify-content-between flex-row gap-1 border p-2">
    <h5 style="margin-bottom: 0;">Risposte alla richiesta</h5>
    <div class="d-flex gap-1 flex-row">
      <%= link_to "Torna indietro  ", _back_url, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="border w-100 p-2">
    <strong>Tutor:</strong> <%= @tutor_name %> <br>
    <strong>Data richiesta:</strong> <%= I18n.l(@request.created_at, format: :short) %> <br>
    <strong>Data scadenza:</strong> <%= I18n.l(@request.due_date, format: :default) %> <br>
    <% unless @request.annotations.blank?  %>
      <strong>Annotazioni del tutor:</strong><br>
      <%= @request.annotations %> <br>
    <% end %>
  </div>
  <div class="border p-2">
    <table class="table table-striped table-bordered table-hover mb-0">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <% @request.dates.each do |date| %>
          <th><%= I18n.l(Date.parse(date), format: :default) %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @responses.each do |response| %>
        <tr>
          <td><%= response.user.name %></td>
          <td><%= response.user.surname %></td>
          <% @request.dates.each do |date| %>
            <td>
              <% if response.present_on?(date) %>
                <span class="badge text-bg-success">Presente</span>
              <% else %>
                <span class="badge text-bg-danger">Assente</span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
