<div class="container mt-3">
  <div class="d-flex justify-content-between flex-row gap-1 border p-2">
    <h5 style="margin-bottom: 0;">Lista studenti registrati</h5>
    <%= link_to "Torna alla home  ", _back_url, class: "btn btn-sm btn-primary" %>
  </div>
  <% if @users.any? %>
    <table class="table table-striped table-bordered mt-1">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th style="width: 1px">Azioni</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.surname %></td>
          <td><%= user.email %></td>
          <td class="d-flex justify-content-center flex-row gap-1">
            <% unless user.approved_from_tutor %>
            <%= button_to 'Approva', approve_student_path(user), method: :post, class: "btn btn-sm btn-success" %>
            <%  end %>
            <%= button_to 'Elimina', delete_student_path(user), method: :delete, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div style="text-align: center;">
      <b>Nessuno studente trovato.</b>
      <%= link_to "Torna indietro", _back_url %>
    </div>
  <% end %>
</div>
